<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>app-store</string>
    <key>teamID</key>
    <string>8J69P655GN</string>
    <key>signingStyle</key>
    <string>automatic</string>
    <key>authenticationKeyPath</key>
    <string>/Users/ilyashallak/Privat/Projects/readeck/fastlane/AuthKey_JZJCQWW9N3.p8</string>
    <key>authenticationKeyID</key>
    <string>JZJCQWW9N3</string>
    <key>authenticationKeyIssuerID</key>
    <string>40724d6da3a349c3bf279b9c137431ee</string>
    <key>uploadSymbols</key>
    <true/>
</dict>
</plist>
